ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > ion-card-title {
    margin: 0;
  }
  ion-card-subtitle,
  ion-card-title {
    color: black;
  }
}

ion-card-content {
  color: rgba(black, 0.8);
}
