<ion-header mode="ios" translucent>
  <ion-toolbar mode="md">
    <ion-fab-button (click)="goToSettings()" size="small" mode="md" slot="start">
      G
    </ion-fab-button>
    <ion-title slot="end">
      <ion-input [formControl]="balance" inputmode="numeric"></ion-input>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="detach">
    <ion-card mode="md">
      <ion-card-header>
        <ion-card-subtitle>Carteira do {{ user.name }}</ion-card-subtitle>
        <ion-card-title class="balance">{{
          currentBalance | currency: "BRL"
        }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        esse app tem como objetivo dar o controle ao usuario poder listar os
        seus gastos mensais e informá-lo sobre sua situação
      </ion-card-content>
    </ion-card>
  </div>
  <div class="wrapper-button">
    <ion-fab-button
      size="small"
      (click)="navigation(ROUTES.SPENDINGS)"
      mode="md"
      slot="end"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </div>

  <ion-list class="list">
    <app-spending-card
      *ngFor="let item of spendings"
      [value]="item.value"
      [title]="item.title"
      [description]="item.description"
      [status]="item.status"
    ></app-spending-card>
  </ion-list>
</ion-content>
